@media (max-width: 550px) {
  .container {
    max-width: 550px;
    padding: 0 12px;
  }

  .header {
    padding-bottom: 60px;
    background: linear-gradient(rgba(24, 9, 51, 0.5), rgba(0, 0, 0, 0.5)),
      url(../resources/my_photo_550.png) no-repeat center / cover;
  }

  .intoduce__offer {
    margin-bottom: 130px;
    max-width: 310px;
    font-size: 15px;
    line-height: 20px;
  }

  .introduce__heading {
    max-width: 360px;
    font-size: 40px;
    line-height: 47px;
  }

  .projects {
    padding-top: 100px;
  }

  .projects__list {
    margin-bottom: 60px;
  }

  .projects__heading {
    margin-bottom: 34px;
    width: 80%;
    font-size: 30px;
    line-height: 39px;
  }

  .project__image {
    min-width: 350px;
    height: 445px;
  }

  .project__text {
    left: 35px;
    bottom: 50px;
  }

  .project__desc {
    font-size: 16px;
    line-height: 21px;
  }

  .project__mark {
    top: 30px;
    left: 33px;
    font-size: 13px;
    line-height: 18px;
  }

  .projects__btn {
    width: 350px;
    padding: 28px 52px;
    font-size: 18px;
    line-height: 23px;
  }

  .skills {
    padding-top: 100px;
  }

  .skills__heading {
    margin-bottom: 106px;
    font-size: 28px;
    line-height: 37px;
  }

  .skills__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 108px;
  }

  .skill {
    width: 100%;
  }

  .skill__heading {
    margin-bottom: 15px;
    min-width: 342px;
  }

  .skill__heading_third {
    min-width: 343px;
  }

  .skill__heading_first::before {
    width: 36px;
    height: 36px;
  }

  .skill__heading_second::before {
    width: 36px;
    height: 36px;
  }

  .skill__heading_third::before {
    bottom: 80px;
    width: 36px;
    height: 36px;
  }

  .skill__heading_fourth::before {
    bottom: 110px;
    width: 36px;
    height: 36px;
  }

  .services {
    padding-top: 100px;
  }

  .services__list {
    margin-bottom: 100px;
  }

  .services__heading {
    max-width: 100%;
    margin-bottom: 60px;
    font-size: 28px;
    line-height: 37px;
  }

  .service__image {
    min-width: 350px;
    height: 225px;
  }

  .service__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 30px 22px 65px 22px;
    font-size: 18px;
    line-height: 23px;
  }

  .service__heading {
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 110%;
    text-align: left;
  }

  .contact {
    border-radius: 19px;
    padding-bottom: 50px;
  }

  .contact__wrap {
    row-gap: 40px;
  }

  .contact__form__heading {
    font-size: 35px;
    line-height: 37px;
  }

  .contact__form {
    z-index: 100;
    width: 100%;
  }

  .contact__form__input {
    border-radius: 62px;
    font-size: 15px;
    line-height: 20px;
  }

  .contact__form__btn {
    width: 353px;
    font-size: 15px;
    line-height: 20px;
  }

  .contact__photo {
    width: 100%;
    background-image: linear-gradient(rgba(24, 9, 51, 0.4), rgba(0, 0, 0, 0.4)),
      url(../resources/new_photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .contact__photo__image {
    display: none;
  }

  .footer {
    padding-bottom: 35px;
  }

  .footer__wrap {
    row-gap: 40px;
  }

  .footer__persona {
    flex-direction: column;
    row-gap: 20px;
    font-size: 15px;
    line-height: 20px;
  }

  .footer__heading {
    width: 80%;
  }

  .footer__copyright {
    flex-direction: column;
    row-gap: 12px;
    font-size: 13px;
    line-height: 18px;
  }
}
