html {
  scroll-behavior: smooth;
}

body {
  background: rgb(0, 0, 0);
  font-family: "IBM Plex Mono", monospace, "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: -0.03em;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  padding: 27px 0px 94px;
  background-image: linear-gradient(rgba(24, 9, 51, 0.5), rgba(0, 0, 0, 0.5)),
    url("../resources/my_photo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo__link {
  width: 80px;
  height: 80px;
}

.logo__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}

.menu {
  display: flex;
  column-gap: 50px;
}

.menu__item-link {
  font-size: 18px;
  line-height: 23px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.menu__item-link:hover {
  color: rgb(27, 255, 7);
  transition: 0.5s;
}

.introduce {
  max-width: 725px;
}

.introduce__offer {
  margin-bottom: 100px;
  max-width: 430px;
  font-size: 20px;
  line-height: 27px;
  color: rgb(255, 255, 255);
}

.introduce__heading {
  font-size: 60px;
  line-height: 70px;
  color: rgb(27, 255, 7);
}

.projects {
  padding-top: 150px;

  color: rgb(255, 255, 255);
}

.projects__heading {
  margin-bottom: 40px;
  font-size: 55px;
  line-height: 72px;
}

.projects__list {
  margin-bottom: 80px;
}

.project__link {
  position: relative;
  width: 100%;
  height: 550px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.project:hover {
  opacity: 0.8;
  transition: 0.5s;
}

.project__link:hover {
  color: #1bff07;
}

.project__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.9) 100%
  );
}

.project__text {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.project__heading {
  font-size: 35px;
  line-height: 46px;
}

.project__heading_first {
  text-transform: uppercase;
}

.project__desc {
  font-size: 30px;
  line-height: 39px;
}

.project__mark {
  position: absolute;
  bottom: 2200%;
  left: 45px;
  padding: 10px 20px;
  border-radius: 100px;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  line-height: 27px;
  background-color: rgb(27, 255, 7);
  color: rgb(0, 0, 0);
}

.btn {
  border-radius: 10px;
  background-color: rgb(27, 255, 7);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(
    149.51deg,
    #000 -13.36%,
    rgba(255, 255, 255, 0.1) 170.1%
  );
  border: 1px solid rgb(27, 255, 7);
  color: rgb(27, 255, 7);
  transition: 0.5s linear;
}

.projects__btn {
  display: flex;
  justify-content: center;
  padding: 57px 85px;
  width: 582px;
  font-size: 30px;
  line-height: 39px;
  text-decoration: none;
}

.skills {
  padding-top: 150px;
}

.skills__heading {
  margin-bottom: 139px;
  font-size: 55px;
  line-height: 72px;
  color: rgb(255, 255, 255);
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 100px;
}

.skill {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.skill__heading {
  margin-bottom: 5%;
  position: relative;
  color: rgb(27, 255, 7);
  font-size: 35px;
  line-height: 46px;
}

.skill__heading_third {
  width: 93%;
}

.skill__heading_first::before {
  position: absolute;
  bottom: 61px;
  width: 45px;
  height: 44px;
  content: "";
  background-image: url("../resources/html_css.png");
}

.skill__heading_second::before {
  position: absolute;
  bottom: 61px;
  width: 45px;
  height: 44px;
  content: "";
  background-image: url("../resources/js.png");
}

.skill__heading_third::before {
  position: absolute;
  bottom: 107px;
  width: 45px;
  height: 44px;
  content: "";
  background-image: url("../resources/libraries.png");
}

.skill__heading_fourth::before {
  position: absolute;
  bottom: 153px;
  width: 45px;
  height: 44px;
  content: "";
  background-image: url("../resources/mobile_dev.png");
}

.skill__desc {
  max-width: 95%;
  max-height: 95%;
  color: rgb(255, 255, 255);
  font-size: 22px;
  line-height: 29px;
}

.services {
  padding-top: 150px;
  margin-bottom: 150px;
}

.services__heading {
  margin-bottom: 80px;
  max-width: 45%;
  color: rgb(255, 255, 255);
  font-size: 35px;
  line-height: 46px;
}

.services__list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.service__image {
  height: 200px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.service__text {
  display: flex;
  justify-content: space-between;
  background: rgb(25, 28, 25);
  border-radius: 30px;
}

.service__heading {
  color: rgb(27, 255, 7);
  font-size: 55px;
  line-height: 110%;
}

.service__desc {
  max-width: 525px;
  color: rgb(255, 255, 255);
  font-size: 22px;
  line-height: 29px;
}

.contact {
  position: relative;
  border-radius: 30px;
  padding: 100px 0;
  background: rgb(25, 28, 25);
}

.contact__wrap {
  display: flex;
}

.contact__form {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  width: 50%;
}

.contact__form__heading {
  max-width: 563px;
  font-size: 60px;
  line-height: 60px;
  color: rgb(255, 255, 255);
}

.contact__inputs-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.contact__form__input {
  max-width: 567px;
  border-radius: 100px;
  padding: 15px 0px 15px 40px;
  background-color: rgb(59, 61, 59);
  font-size: 22px;
  line-height: 29px;
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
}

.contact__form__input::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.5;
}

.contact__form__input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.contact__form__btn {
  width: 450px;
  padding: 20px 0;
  font-size: 22px;
  line-height: 29px;
}

.contact__photo {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
}

.contact__photo__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.footer {
  padding: 75px 0px;
  border-radius: 30px 30px 0px 0px;
  background: rgb(255, 255, 255);
  font-family: "Manrope", sans-serif;
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  row-gap: 65px;
}

.footer__persona {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: normal;
}

.footer__heading-first-line {
  display: inline-flex;
  width: 100%;
}

.footer__persona__links {
  display: flex;
  column-gap: 24px;
}

.footer__persona__link:hover {
  opacity: 0.5;
}

.mail,
.telegram,
.whatsapp {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 27px;
  opacity: 0.5;
}

/* Бургер меню */

.burger-btn {
  position: absolute;
  top: 43px;
  right: 15px;
  z-index: 100;
  display: none;
}

.burger {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  background: rgb(255, 255, 255, 0.9);
  opacity: 0;
  visibility: hidden;
}

.burger_open {
  opacity: 1;
  visibility: visible;
}

.burger__content {
  width: 95%;
  height: 100%;
  overflow-y: auto;
  background: rgb(0, 0, 0);
  padding: 73px 0px 0px 28px;
  transition: transform 0.3s linear;
  transform: translateX(100%);
}

.burger_open .burger__content {
  transform: translateX(0);
}

.burger__logo__link {
  margin-left: -13px;
}

.burger__logo__image {
  width: 80px;
  margin-bottom: 37px;
  object-fit: cover;
}

.burger__menu {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
}

.burger__menu-item {
  width: fit-content;
}

.burger__menu-item a {
  text-decoration: none;
  font-size: 25px;
  line-height: 33px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.burger__menu-item:hover {
  border-bottom: 1px solid rgb(18, 18, 18);
  opacity: 0.5;
  line-height: 27px;
}

.burger__menu-item:active {
  opacity: 0.5;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.burger__footer__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
}

.burger__heading {
  margin-top: 91px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 21px;
  opacity: 0.5;
  color: rgb(255, 255, 255);
}

.burger__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 18px;
}

.burger__mail a,
.burger__telegram a,
.burger__whatsapp a {
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

@media (max-width: 1125px) {
  .project__mark {
    bottom: 1900%;
  }
}

@media (max-width: 961px) {
  .container {
    max-width: 961px;
    padding: 0 12px;
  }

  .header {
    padding: 32px 0px 50px;
  }

  .logo__link {
    width: 60px;
    height: 60px;
  }

  .header-wrap {
    margin-bottom: 100px;
  }

  .menu {
    display: none;
  }

  .burger-btn {
    display: block;
    width: 38px;
    height: 26px;
    border: none;
    background: url("../resources/burger_menu.svg") no-repeat center;
  }

  .burger-btn_open {
    position: fixed;
    top: 20px;
    right: 21px;
    z-index: 200;
    width: 34px;
    height: 34px;
    background: url("../resources/close_btn.svg") no-repeat center;
  }

  .introduce {
    max-width: 580px;
  }

  .introduce__offer {
    max-width: 350px;
    font-size: 16px;
    line-height: 25px;
  }

  .introduce__heading {
    font-size: 45px;
    line-height: 45px;
  }

  .projects__heading {
    margin-bottom: 53px;
    font-size: 45px;
    line-height: 58px;
  }

  .projects__list {
    margin-bottom: 64px;
  }

  .project__link {
    height: 445px;
  }

  .project__image {
    border-radius: 24px;
  }

  .project__mark {
    bottom: 1800%;
    left: 35px;
    border-radius: 81px;
    font-size: 16px;
    line-height: 22px;
  }

  .project__text {
    left: 40px;
    bottom: 40px;
  }

  .project__heading {
    font-size: 28px;
    line-height: 34px;
  }

  .project__desc {
    font-size: 24px;
    line-height: 31px;
  }

  .btn {
    border-radius: 8px;
  }

  .projects__btn {
    width: 460px;
    padding: 46px 68px;
    font-size: 24px;
    line-height: 32px;
  }

  .skills__heading {
    margin-bottom: 130px;
    font-size: 45px;
    line-height: 58px;
  }

  .skills__list {
    row-gap: 135px;
  }

  .skill__heading {
    max-width: 80%;
    font-size: 20px;
    line-height: 27px;
  }

  .skill__heading_first::before {
    bottom: 41px;
    width: 36px;
    height: 36px;
  }

  .skill__heading_second::before {
    bottom: 41px;
    width: 36px;
    height: 36px;
  }

  .skill__heading_third::before {
    bottom: 75px;
    width: 36px;
    height: 36px;
  }

  .skill__heading_fourth::before {
    bottom: 77px;
    width: 36px;
    height: 36px;
  }

  .skill__desc {
    width: 100%;
    font-size: 18px;
    line-height: 23px;
  }

  .skill__desc_first {
    height: 75%;
  }

  .skill__desc_second {
    width: 100%;
  }

  .services {
    margin-bottom: 110px;
  }

  .services__heading {
    margin-bottom: 60px;
    max-width: 40%;
    font-size: 28px;
    line-height: 37px;
  }

  .services__list {
    row-gap: 32px;
  }

  .service__image {
    border-radius: 24px;
  }

  .service__text {
    border-radius: 24px;
  }

  .service__heading {
    font-size: 45px;
    line-height: 110%;
  }

  .service__desc {
    max-width: 425px;
    font-size: 18px;
    line-height: 23px;
  }

  .contact {
    border-radius: 20px;
    padding: 50px 0 86px;
  }

  .contact__form {
    row-gap: 40px;
  }

  .contact__form__heading {
    max-width: 373px;
    font-size: 40px;
    line-height: 40px;
  }

  .contact__inputs-wrap {
    row-gap: 17px;
  }

  .contact__form__input {
    max-width: 383px;
    border-radius: 68px;
    padding: 10px 0px 10px 24px;
    font-size: 16px;
    line-height: 21px;
  }

  .contact__form__btn {
    max-width: 75%;
    padding: 12px 0;
    font-size: 16px;
    line-height: 21px;
  }

  .contact__photo__image {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .footer {
    padding: 50px 0px;
    border-radius: 20px 20px 0px 0px;
  }

  .footer__wrap {
    row-gap: 43px;
  }

  .footer__persona {
    font-size: 16px;
    line-height: 22px;
  }

  .footer__persona__links {
    column-gap: 14px;
  }

  .footer__copyright {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 900px) {
  .project__mark {
    bottom: 1650%;
}

@media (max-width: 887px) {
  .skill__heading_fourth::before {
    bottom: 100px;
  }
}

@media (max-width: 800px) {
  .project__mark {
    bottom: 1450%;
}
}

@media (max-width: 720px) {
  .project__mark {
    bottom: 1250%;
}
}


@media (max-width: 628px) {
  .skill__heading_third::before {
    bottom: 99px;
  }
  .project__mark {
    bottom: 1050%;
}
}

@media (max-width: 599px) {
  .skill__heading_fourth::before {
    bottom: 125px;
  }
}

@media (max-width: 550px) {
  .container {
    max-width: 550px;
    padding: 0 12px;
  }

  .header {
    padding-bottom: 60px;
    background: linear-gradient(rgba(24, 9, 51, 0.5), rgba(0, 0, 0, 0.5)),
      url(../resources/my_photo_550.png) no-repeat center / cover;
  }

  .introduce {
    max-width: max-content;
  }

  .intoduce__offer {
    margin-bottom: 130px;
    max-width: 300px;
    font-size: 15px;
    line-height: 20px;
  }

  .introduce__heading {
    font-size: 40px;
    line-height: 47px;
  }

  .projects {
    padding-top: 100px;
  }

  .projects__list {
    margin-bottom: 60px;
  }

  .projects__heading {
    margin-bottom: 34px;
    width: 80%;
    font-size: 30px;
    line-height: 39px;
  }

  .project__text {
    left: 35px;
    bottom: 50px;
  }

  .project__desc {
    font-size: 16px;
    line-height: 21px;
  }

  .project__mark {
    bottom: 1000%;
    left: 33px;
    font-size: 13px;
    line-height: 18px;
  }

  .projects__btn {
    width: max-content;
    padding: 20px;
    font-size: 18px;
    line-height: 23px;
  }

  .skills {
    padding-top: 100px;
  }

  .skills__heading {
    margin-bottom: 106px;
    font-size: 28px;
    line-height: 37px;
  }

  .skills__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 108px;
  }

  .skill {
    width: 100%;
  }

  .skill__heading {
    margin-bottom: 15px;
    width: max-content;
  }

  .skill__heading_third {
    width: max-content;
  }

  .skill__heading_third::before {
    bottom: 45px;
  }

  .skill__heading_fourth::before {
    bottom: 72px;
  }

  .services {
    padding-top: 100px;
  }

  .services__list {
    margin-bottom: 100px;
  }

  .services__heading {
    max-width: 100%;
    margin-bottom: 60px;
    font-size: 28px;
    line-height: 37px;
  }

  .service__image {
    height: 225px;
  }

  .service__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    line-height: 23px;
  }

  .service__heading {
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 110%;
    text-align: left;
  }

  .contact {
    border-radius: 19px;
    padding-bottom: 50px;
  }

  .contact__wrap {
    row-gap: 40px;
  }

  .contact__form__heading {
    width: 310px;
    font-size: 35px;
    line-height: 37px;
  }

  .contact__form {
    z-index: 100;
    width: 100%;
  }

  .contact__form__input {
    border-radius: 62px;
    font-size: 15px;
    line-height: 20px;
  }

  .contact__form__btn {
    width: 60%;
    font-size: 15px;
    line-height: 20px;
  }

  .contact__photo {
    width: 100%;
    background-image: url(../resources/new_photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .contact__photo__image {
    display: none;
  }

  .footer {
    padding-bottom: 35px;
  }

  .footer__wrap {
    row-gap: 40px;
  }

  .footer__persona {
    flex-direction: column;
    row-gap: 20px;
    font-size: 15px;
    line-height: 20px;
  }

  .footer__heading {
    /* width: max-content; */
  }

  .footer__heading-first-line {
    display: inline;
}

  .footer__copyright {
    flex-direction: column;
    row-gap: 12px;
    font-size: 13px;
    line-height: 18px;
  }
}

@media (max-width: 542px) {
  .skill__heading_third::before {
    bottom: 71px;
  }
}

@media (max-width: 515px) {
  .project__mark {
    bottom: 800%;
}
}

@media (max-width: 455px) {
  .skill__heading_fourth::before {
    bottom: 93px;
  }
  .footer__heading-first-line {
    display: inline-flex;
    width: 100%;
  }
}

@media (max-width: 430px) {
  .project__mark {
    bottom: 600%;
}
}

@media (max-width: 345px) {
  .project__mark {
    bottom: 540%;
}
}

@media (max-width: 326px) {
  .skill__heading_third::before {
    bottom: 93px;
  }
}
