html {
    scroll-behavior: smooth;
}

body {
    background: rgb(0, 0, 0);
    font-weight: 400;
}

.header {
    max-width: 1400px;
    margin: 0 auto;
    height: 835px;
    background: url("../resources/developer.jpg") no-repeat center / cover;
    font-family: "IBM Plex Mono", monospace;
    letter-spacing: -0.03em;
}

.container {
    margin: 0 auto;
    padding: 0px 15px;
    max-width: 1150px;
}

.logo {
    display: inline-block;
    margin-top: 36px;
    width: 130px;
    height: 39px;
    background-color: #000;
    border-radius: 100px;
    text-align: center;
}

.logo__link {
    font-size: 42px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: -0.11em;
    text-transform: uppercase;
    color: #1bff07;
    text-decoration: none;
}

.nav {
    float: right;
}

.menu {
    display: flex;
    margin-top: 33px;
    column-gap: 50px;
}

.menu__item {}

.menu__item__link {
    font-size: 18px;
    line-height: 23px;
    color: #fff;
    text-decoration: none;
}

.menu__item__link:hover {
    color: rgb(27, 255, 7);
}

.main {}

.intoducing {}

.intoducing__offer {
    margin-top: 259px;
    margin-bottom: 29px;
    width: 430px;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
}

.introducing__heading {
    width: 919px;
    font-size: 80px;
    line-height: 70px;
    color: #1bff07;
}

.projects {
    padding-top: 150px;
    color: rgb(255, 255, 255);
    font-family: "IBM Plex Mono", monospace;
    letter-spacing: -0.03em;
}

.projects__heading {
    margin-bottom: 40px;
    font-size: 55px;
    line-height: 72px;
}

.last-project {}



.last-project__link {
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.last-project__link:hover {
    color: #1bff07;
}


.last-project__image {
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) 100%);
}

.last-project__text {
    position: absolute;
    left: 50px;
    bottom: 50px;

}

.last-project__heading {

    font-size: 35px;
    line-height: 46px;
}

.last-project__desc {

    font-size: 30px;
    line-height: 39px;
}

.second-project {}

.second-project__link {
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.second-project__link:hover {
    color: #1bff07;
}

.second-project__image {
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) 100%);
}

.second-project__text {
    position: absolute;
    left: 50px;
    bottom: 50px;
}



.second-project__heading {
    font-size: 35px;
    line-height: 46px;
}

.second-project__desc {
    font-size: 30px;
    line-height: 39px;
}

.third-project {}



.third-project__link {
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.third-project__link:hover {
    color: #1bff07;
}

.third-project__image {
    border-radius: 30px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) 100%);
}

.third-project__text {
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.third-project__heading {
    font-size: 35px;
    line-height: 46px;
}

.third-project__desc {
    font-size: 30px;
    line-height: 39px;
}

.projects__btn {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    width: 582px;
    height: 153px;
    border-radius: 10px;
    background: rgb(27, 255, 7);
    color: rgb(0, 0, 0);
    font-size: 30px;
    line-height: 153px;
    text-decoration: none;
}

.btn__link {
    color: rgb(0, 0, 0);
    font-size: 30px;
    line-height: 153px;
    text-decoration: none;
}

.projects__btn:hover {
    background: rgb(0, 0, 0);
    border: 1px solid rgb(27, 255, 7);
    color: rgb(27, 255, 7);
}

.skills {
    padding-top: 150px;
    font-family: "IBM Plex Mono", monospace;
    letter-spacing: -0.03em;
}

.skills__heading {
    font-size: 55px;
    line-height: 72px;
    color: rgb(255, 255, 255);
}

.skills__list {}

.skill-first {}

.skill-first__heading {
    margin-top: 104px;
    margin-bottom: 15px;
    position: relative;
    color: rgb(27, 255, 7);
    font-size: 35px;
    line-height: 46px;
}

.skill-first__heading::before {
    position: absolute;
    width: 45px;
    height: 44px;
    bottom: 60px;
    content: "";
    background-image: url("../resources/html_css.png");
}

.skill-first__desc {
    width: 774px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    line-height: 29px;
}

.skill-second {}

.skill-second__heading {
    margin-top: 104px;
    margin-bottom: 15px;
    position: relative;
    color: rgb(27, 255, 7);
    font-size: 35px;
    line-height: 46px;
}

.skill-second__heading::before {
    position: absolute;
    width: 45px;
    height: 44px;
    bottom: 60px;
    content: "";
    background-image: url("../resources/js.png");
}

.skill-second__desc {
    width: 774px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    line-height: 29px;
}

.skill-third {}

.skill-third__heading {
    margin-top: 104px;
    margin-bottom: 15px;
    position: relative;
    color: rgb(27, 255, 7);
    font-size: 35px;
    line-height: 46px;
}

.skill-third__heading::before {
    position: absolute;
    width: 45px;
    height: 44px;
    bottom: 60px;
    content: "";
    background-image: url("../resources/libraries.png");
}

.skill-third__desc {
    width: 774px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    line-height: 29px;
}

.skill-fourth {}

.skill-fourth__heading {
    margin-top: 104px;
    margin-bottom: 15px;
    position: relative;
    width: 651px;
    color: rgb(27, 255, 7);
    font-size: 35px;
    line-height: 46px;
}

.skill-fourth__heading::before {
    position: absolute;
    width: 45px;
    height: 44px;
    bottom: 105px;
    content: "";
    background-image: url("../resources/mobile_dev.png");
}

.skill-fourth__desc {
    width: 774px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    line-height: 29px;
}

.services {
    padding-top: 150px;
    padding-bottom: 150px;
    font-family: "IBM Plex Mono", monospace;
    letter-spacing: -0.03em;
}

.services__heading {
    margin-bottom: 74px;
    width: 415px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    line-height: 46px;
}

.services__list {}



.website-development {
    margin-bottom: 74px;
}

.website-development__image {
    border-radius: 30px;
}

.website-development__text {
    border-radius: 30px;
    background: rgb(25, 28, 25);
}

.website-development__heading {
    padding: 40px 0px 0px 40px;
    margin-bottom: 15px;
    color: rgb(27, 255, 7);
    font-size: 55px;
    line-height: 72px;
}

.website-development__desc {
    padding: 0px 0px 40px 40px;
    width: 755px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    line-height: 29px;
}

.website-layout {
    margin-bottom: 137px;
}

.website-layout__image {
    border-radius: 30px;
}

.website-layout__text {
    border-radius: 30px;
    background: rgb(25, 28, 25);
}

.website-layout__heading {
    padding: 40px 0px 0px 40px;
    margin-bottom: 15px;
    color: rgb(27, 255, 7);
    font-size: 55px;
    line-height: 72px;
}

.website-layout__desc {
    padding: 0px 0px 40px 40px;
    width: 755px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    line-height: 29px;
}

.mobile-interface-development {}

.mobile-interface-development__image {
    border-radius: 30px;
}

.mobile-interface-development__text {
    border-radius: 30px;
    background: rgb(25, 28, 25);
}

.mobile-interface-development__heading {
    padding: 40px 0px 0px 40px;
    margin-bottom: 15px;
    color: rgb(27, 255, 7);
    font-size: 55px;
    line-height: 72px;
}

.mobile-interface-development__desc {
    padding: 0px 0px 40px 40px;
    width: 755px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    line-height: 29px;
}

.contacts {
    margin-bottom: 150px;
    position: relative;
    background: rgb(25, 28, 25);
    border-radius: 30px;
    font-family: "IBM Plex Mono", monospace;
    letter-spacing: -0.03em;
}

.contacts__info {
    display: inline-block;
    padding-top: 320px;
    padding-bottom: 90px;
}

.contacts__heading {
    margin-bottom: 28px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    line-height: 60px;
}

.contacts__list {}

.contacts__list-item {
    margin-bottom: 20px;

}

.contacts__list-item a {

    color: rgb(255, 255, 255);
    font-size: 60px;
    line-height: 60px;
    text-decoration: none;
}

.contacts__list-item a:last-child {
    margin-bottom: 0px;
}

.contacts__list-item a:hover {
    color: rgb(27, 255, 7);
}



.contacts__photo {
    position: absolute;
    display: inline-block;
    right: 0;
}

.contacts__photo img {
    border-radius: 30px;
}

.footer {
    border-radius: 30px 30px 0px 0px;
    background: rgb(255, 255, 255);
    font-family: "Manrope", sans-serif;
    letter-spacing: -0.03em;
}

.footer__heading {
    margin-bottom: 66px;
    padding-top: 76px;
    color: rgb(0, 0, 0);
    font-size: 22px;
    line-height: 30px;
    letter-spacing: normal;
}

.footer__copyright {
    padding-bottom: 30px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 27px;
    opacity: 0.5;
}
