html {
  scroll-behavior: smooth;
}

body {
  background: rgb(0, 0, 0);
  font-family: "IBM Plex Mono", monospace, "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: -0.03em;
}

section {
  padding: 150px 0;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  padding: 27px 0px 94px;
  background-image: linear-gradient(rgba(24, 9, 51, 0.5), rgba(0, 0, 0, 0.5)),
    url("../resources/my_photo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  width: 150px;
  height: 94px;
}

.logo-image {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}

.menu {
  display: flex;
  column-gap: 50px;
}

.menu__item__link {
  font-size: 18px;
  line-height: 23px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.menu__item__link:hover {
  color: rgb(27, 255, 7);
  transition: 0.5s;
}

.intoduce__offer {
  margin-bottom: 120px;
  max-width: 430px;
  font-size: 20px;
  line-height: 27px;
  color: rgb(255, 255, 255);
}

.introduce__heading {
  max-width: 725px;
  font-size: 60px;
  line-height: 70px;
  color: rgb(27, 255, 7);
}

.projects {
  color: rgb(255, 255, 255);
}

.projects__heading {
  margin-bottom: 40px;
  font-size: 55px;
  line-height: 72px;
}

.projects__list {
  margin-bottom: 80px;
  
}

.project {
  position: relative;

}

.project__link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.project:hover {
  opacity: 0.8;
  transition: 0.5s;
}

.project__link:hover {
  color: #1bff07;
}

.project__image {
  width: 100%;
  max-height: 550px;
  object-fit: cover;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.9) 100%
  );
}

.project__text {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.project__heading {
  font-size: 35px;
  line-height: 46px;
}

.project__heading_first {
  text-transform: uppercase;
}

.project__desc {
  font-size: 30px;
  line-height: 39px;
}

.project__mark {
  position: absolute;
  top: 50px;
  left: 45px;
  padding: 10px 20px;
  border-radius: 100px;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  line-height: 27px;
  background-color: rgb(27, 255, 7);
  color: rgb(0, 0, 0);
}

.btn {
  border-radius: 10px;
  background-color: rgb(27, 255, 7);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(
    149.51deg,
    #000 -13.36%,
    rgba(255, 255, 255, 0.1) 170.1%
  );
  border: 1px solid rgb(27, 255, 7);
  color: rgb(27, 255, 7);
  transition: 0.5s linear;
}

.projects__btn {
  display: flex;
  justify-content: center;
  padding: 57px 85px;
  width: 582px;
  font-size: 30px;
  line-height: 39px;
  text-decoration: none;
}

.skills__heading {
  margin-bottom: 139px;
  font-size: 55px;
  line-height: 72px;
  color: rgb(255, 255, 255);
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 10%;
  row-gap: 100px;
}

.skill {
  display: flex;
  flex-direction: column;
  max-width: 45%;
}

.skill__heading {
  margin-bottom: 7%;
  max-width: 100%;
  position: relative;
  color: rgb(27, 255, 7);
  font-size: 35px;
  line-height: 46px;
}

.skill__heading_first::before {
  position: absolute;
  bottom: 61px;
  width: 45px;
  height: 44px;
  content: "";
  background-image: url("../resources/html_css.png");
}

.skill__heading_second::before {
  position: absolute;
  bottom: 61px;
  width: 45px;
  height: 44px;
  content: "";
  background-image: url("../resources/js.png");
}

.skill__heading_third::before {
  position: absolute;
  bottom: 107px;
  width: 45px;
  height: 44px;
  content: "";
  background-image: url("../resources/libraries.png");
}

.skill__heading_fourth::before {
  position: absolute;
  bottom: 153px;
  width: 45px;
  height: 44px;
  content: "";
  background-image: url("../resources/mobile_dev.png");
}

.skill__desc {
  color: rgb(255, 255, 255);
  font-size: 22px;
  line-height: 29px;
}

.skill__desc_first {
  width: 535px;
}

.skill__desc_second {
  width: 570px;
}

.skill__desc_third {
  width: 570px;
}

.skill__desc_fourth {
  width: 546px;
}

.services__heading {
  margin-bottom: 80px;
  width: 415px;
  color: rgb(255, 255, 255);
  font-size: 35px;
  line-height: 46px;
}

.services__list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.service__image {
  height: 200px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.service__text {
  display: flex;
  justify-content: space-between;
  height: 283px;
  padding: 40px 0px 0px 40px;
  background: rgb(25, 28, 25);
  border-radius: 30px;
}

.service__heading {
  max-width: 40%;
  color: rgb(27, 255, 7);
  font-size: 55px;
  line-height: 110%;
}

.service__desc {
  max-width: 525px;
  color: rgb(255, 255, 255);
  font-size: 22px;
  line-height: 29px;
}

.contact {
  position: relative;
  border-radius: 30px;
  background: rgb(25, 28, 25);
}

.contact__wrap {
  display: flex;
}

.contact__form {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  width: 50%;
}

.contact__form__heading {
  max-width: 563px;
  font-size: 60px;
  line-height: 60px;
  color: rgb(255, 255, 255);
}

.contact__inputs-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.contact__form__input {
  max-width: 567px;
  border-radius: 100px;
  padding: 15px 0px 15px 40px;
  background-color: rgb(59, 61, 59);
  font-size: 22px;
  line-height: 29px;
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
}

.contact__form__input::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.5;
}

.contact__form__input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.contact__form__btn {
  width: 450px;
  padding: 20px;
  font-size: 22px;
  line-height: 29px;
}

.contact__photo {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
}

.contact__photo__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  padding: 75px 0px;
  border-radius: 30px 30px 0px 0px;
  background: rgb(255, 255, 255);
  font-family: "Manrope", sans-serif;
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  row-gap: 65px;
}

.footer__persona {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  line-height: 30px;
}

.footer__persona__links {
  display: flex;
  column-gap: 24px;
}

.footer__persona__link:hover {
  opacity: 0.5;
}

.mail,
.telegram,
.whatsapp {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 27px;
  opacity: 0.5;
}

@media (max-width: 961px) {
  .container {
    max-width: 961px;
  }

  .header {
    padding: 25px 0px 50px;
  }

  .logo {
    width: 120px;
    height: fit-content;
  }

  .header-wrap {
    margin-bottom: 70px;
  }

  .intoduce__offer {
    margin-bottom: 80px;
    max-width: 350px;
    font-size: 16px;
    line-height: 25px;
  }

  .introduce__heading {
    max-width: 580px;
    font-size: 45px;
    line-height: 45px;
  }

  .projects__heading {
    margin-bottom: 53px;
    font-size: 45px;
    line-height: 58px;
  }

  .projects__list {
    margin-bottom: 64px;
  }

  .project__image {
    border-radius: 24px;
  }

  .project__mark {
    top: 40px;
    left: 35px;
    border-radius: 81px;
    font-size: 16px;
    line-height: 22px;
  }

  .project__text {
    left: 40px;
    bottom: 40px;
  }

  .project__heading {
    font-size: 28px;
    line-height: 34px;
  }

 .project__desc {
    font-size: 24px;
    line-height: 31px;
 }

 .btn {
    border-radius: 8px;
 }

 .projects__btn {
    width: 460px;
    padding: 46px 68px;
    font-size: 24px;
    line-height: 32px;
 }

 .skills__heading {
  margin-bottom: 106px;
  font-size: 45px;
  line-height: 58px;
 }

 .skills__list {
  column-gap: 37px;
  row-gap: 65px;
}

.skill {
  
}


.skill__heading {
  font-size: 28px;
  line-height: 36px;
}

.skill__heading_first::before {
  width: 36px;
  height: 36px;
}

.skill__heading_second::before {
  width: 36px;
  height: 36px;
}

.skill__heading_third::before {
  width: 36px;
  height: 36px;
}

.skill__heading_fourth::before {
  width: 36px;
  height: 36px;
}

.skill__desc {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 23px;
}

.skill__desc_first {
  width: 433px;
}

.skill__desc_second {
  width: 461px;
}

.skill__desc_third {
  width: 461px;
}

.skill__desc_fourth {
  width: 442px;
}





}
